extends ../layout.jade
block siden
	nav#sidenav
		p
			a(id="sidemen" href="/editor/dashboard") Dashboard
			a(id="sidemen" href="/editor/sensorInstance") Sensor Instance
			a(id="sidemen" href="/editor/account") Account
			a(id="sidemen" href="/editor/billing") Billing

block main
	div.editor
		block content
			div.center
				form(action="/editor/newworkspace", method="POST")
					.ui.inverted.tabular.menu
						.active.item(href="/editor/overview") Overview
						a.item(href="/editor/map") Map
					

block post_wrap
	