@import "vendor/normalize";
@import "font";
@import "palette";

* {
  transition: background-color 0.3s ease,
              color 0.3s ease,
              border-color 0.5s ease,
              box-shadow 0.5s ease,
              text-shadow 0.3s ease;
  box-sizing: border-box;
}

/*
$primary-color
$dark-primary-color
$light-primary-color

$text-primary-color
$primary-text-color
$secondary-text-color

$accent-color

$divider-color
*/

body {
  background: #fff;
  font-family: "Roboto", "Helvetica","Arial",sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 1em 0;
  padding: 0;
}

h2, h4, h6 {
  font-weight: 700;
}

h1 {
  font-size: 3em;
  line-height: 1.167em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h3 {
  font-size: 2em;
  line-height: 1.25em;
}

h4 {
  font-size: 1.5em;
  line-height: 1.333em;
}

h5 {
  font-size: 0.875em;
  line-height: 1.143em;
}

h6 {
  font-size: 0.75em;
  line-height: 1.333em;
}

a, a:visited, a:link {
  color: $secondary-text-color;
  text-decoration: none;
}
  a:hover, a:active {
    color: $accent-color;
  }

input, select, textarea {
  padding: 0.5em 0;
  border: 1px solid $light-divider-color;
  border-width: 0 0 1px 0;
}

// Common classes
.noul {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    margin: 0 0 1em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.small {
  font-size: 80%;
  line-height: 110%;
}

.center {
  text-align: center;
}

.divider {
  padding-bottom: 1em;
  border-bottom: 1px solid $divider-color;
}
.box {
  padding: 2em;
  border: 1px solid $light-divider-color;
  border-radius: 2px;
}

.flt-right {
  float: right;
}

//button
.btn {
  background: $accent-color;
  color: $text-primary-color;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  border-radius: 2px;

  padding: 0.5em 1.25em;

  display: inline-block;
  vertical-align: middle;

  box-shadow: 0 0 2px 2px rgba(150, 150, 150, 0.25);

  &:hover {
    background: $light-accent-color;
    box-shadow: 0 0 4px 2px rgba(150, 150, 150, 0.25);
  }
}

// Layout CSS
#wrap { }

#main {
  max-width: 960px;
  padding: 2em 1.25em;
  margin: 0 auto;
}

#header, #footer {
  background: $dark-primary-color;
  color: $text-primary-color;
  font-weight: 300;
  a {
    color: $text-primary-color;
  }
    a:hover {
      color: $light-primary-color;
    }
  padding: 1.25em;
}

#header {
  .left {
    display: inline-block;
    width: 25%;
  }
  .right {
    text-align: right;
    display: inline-block;
    width: 75%;
  }
}


#logo {
  max-width: 140px;
  width: 100%;

  display: inline-block;
  vertical-align: middle;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}



#topnav {
  display: inline-block;
  vertical-align: middle;

  li {
    margin: 0 1em 0 0;
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
    }
  }
}

#sidenav{
  background:#D3D3D3;
  width:20%;
  height:100%;
  position:fixed;
}

#footer {
  font-size: 0.75em;
  line-height: 1.333em;
  width:100%;
  bottom: 0;
  position: fixed;
}


// home
#banner {
  background: $primary-color url("../images/sky.jpg") no-repeat center center;
  background-size: cover;

  font-family: "Roboto", "Helvetica","Arial",sans-serif;
  color: $text-primary-color;
  text-align: center;
  text-transform: capitalize;

  width: 100%;
  height: 640px;
  position: relative;

  h2 {
    margin-bottom: 0.25em;
  }
  .content {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// login
.form-login {
  width: 90%;
  max-width: 420px;
  text-align: left;
  display: inline-block;
  margin: 0 auto;

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    display: block;
    width: 100%;
  }

  .divider {
    padding-bottom: 0.5em;
  }
}

@media screen and (max-width: 600px) {
  #header {
    .left, .right { width: 100%; text-align: center;}
    .left { margin-bottom: 2em; }
  }
}



a#sidemen:link, a#sidemen:visited {
    background-color: #D3D3D3;
    color: black;
    width:100%;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


a#sidemen:hover, a#sidemen:active {
    background-color: #FFFFFF;
}
