// http://www.materialpalette.com/indigo/deep-orange

$primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;

$text-primary-color: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #727272;

$accent-color: #FF5722;
$light-accent-color: #FF6833;

$divider-color: #B6B6B6;
$light-divider-color: #E9E9E9;